PORT=4000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
MP_ACCESS_TOKEN=""
WEBHOOK_URL=""
EMAIL_USER=""
EMAIL_PASS=""
FRONTEND_URL="http://localhost:3000/"
SECRET_COOKIES=""

# Redis (opcional, no implementado aún)
REDIS_HOST="cache"
REDIS_PORT="6379"
REDIS_PASSWORD=""
REDIS_URL="redis://:PASSWORD@HOST:6379"
